.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.button {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    border-color: #111;
    color: white;
    background: #323232;
    border-radius: 5px;
    height: 30px;

}
