.item {
  color: #00d9ff;
}

.open {
  width: 100%;
  height: 200px;

}

.ava {
  width: 100px;
  padding: 15px;
  border-radius: 65px;
}

.photoButton {
  padding-left: 10px;
  width: 115px;
}

.fullName {
  padding: 10px;
  font-weight: bold;
}

.status {
  padding-left: 10px;
}

.editButton {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #111;
  color: white;
  background: #323232;
  border-radius: 5px;
  height: 30px;
}

.info {
  padding: 10px;
}

.contact {
  padding-left: 50px;
}

.error {
  color: red;
}